.userListContainer {
  background-color: #f9f9f9;
  height: 100vh;
  overflow-y: scroll; /* Enable scroll if needed */
  overflow-x: hidden; /* Disable horizontal scroll */
  // width: fit-content;
  float: left;
  width: 20rem;

  // scrollbar styles
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
  &::-webkit-scrollbar-button {
    display: none; /* Hide scrollbar buttons */
  }
  &::-webkit-scrollbar-track-piece {
    background: #f1f1f1; /* Track background */
  }

  .userListHeader {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;

    .showAllButton {
      background-color: #fff;
      color: #4caf50;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      font-size: 0.8rem;
      margin: 20px;
      border-radius: 4px;

      &:hover {
        background-color: #e0e0e0;
      }
    }
    .showAllButton:focus {
      outline: none;
    }

    .userListTitle {
      margin: 0;
    }
    .userListDescription {
      margin: 0;
      font-size: 1rem;
      font-weight: normal;
    }
  }

  .userListTable {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    font-size: 0.8rem;

    .selectedRow {
      background-color: #d1e7dd; /* Light green background for selected row */
      color: #0f5132; /* Dark green text for better contrast */
      font-weight: bold; /* Make the text bold for emphasis */
      cursor: pointer; /* Change cursor to pointer for better UX */
      &:hover {
        background-color: #c3e6cb; /* Slightly darker on hover */
      }
    }

    th,
    td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }

    tr:hover {
      background-color: #f1f1f1;
      cursor: pointer;
    }
  }
}
